
    <!-- Banner -->

    <section class="banner" id="banner">

      <div class="slide">
          <div class="slideshow-container">

      

          </div>
         
      </div>


      <header>
          <div class="nav__bar">

              <div class="toggle">
                  <a href="#banner">
                      <div class="logo">
                          <img src="https://i.imgur.com/hK2zXJS.png" alt="">

                      </div>
                  </a>
              </div>

              <div class="menu">

                  <ul>
                      <li>
                          <a href="#banner" class="nav__active">Home</a>
                      </li>
                      <li>
                          <a href="#about">About us</a>
                      </li>
                      <li>
                          <a href="#courses">Courses</a>
                      </li>
                      <li>
                          <a href="#teachers">Teachers</a>
                      </li>
                      <li>
                          <a href="#programs">Programs</a>
                      </li>
                      <li>
                          <a href="#contact">Contact</a>
                      </li>
                  </ul>
              </div>

     
      </div>



  <!-- End Banner -->

  <!-- introduction -->

  <section class="introduction" id="about">
      <div class="container">
          <div class="introduction__main">

              <div class="introduction__img">
                  <img src="https://i.imgur.com/7NFXm3v.jpg" alt="">
              </div>
              <div class="education">

                  <div class="education__up">

                      <h2>Fpt Polytechnic Hà Nội</h2>
                      <p>Cao đẳng FPT Polytechnic Hà Nội đã chính thức đi vào hoạt động tại cơ sở Trịnh Văn Bô, Nam Từ Liêm, Hà Nội từ những ngày cuối năm 2019, nhưng có lẽ, một trong những điều chờ đón nhất của thầy và trò đó chính là ngày tượng Ong Poly
                          – linh vật của FPT Polytechnic chính thức được trưng bày tại sân trường.</p>

                  </div>
                  <div class="education__down">

                      <div class="contact__down">

                          <img src="https://i.imgur.com/eozG5U8.png" alt="">
                          <h3>Học bât cứ điêu gì</h3>
                      </div>

                      <div class="contact__down">

                          <img src="https://i.imgur.com/6K86o0v.png" alt="">
                          <h3>Trao đổi trực tiếp với giảng viên</h3>
                      </div>

                      <div class="contact__down">

                          <img src="https://i.imgur.com/oeWYK7i.png" alt="">
                          <h3>Thoải mái trò chuyện</h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- End introduction -->

  <!-- Features -->

  <section class="features">
      <div class="container">
          <div class="features__main">
              <h1>Những lợi ích khi học tập Fpoly</h1>

              <div class="features__row">

                  <div class="features__col">
                      <div class="child__img">
                          <img src="https://i.imgur.com/sqjJgcx.png" alt="">
                      </div>
                      <div class="child__text">
                          <h2>Học tập trực tuyến và kiểm tra</h2>
                          <p>Trước diễn biến phức tạp của Covid-19, Bộ giáo dục và đào tạo cũng như Bộ lao động thương binh và xã hội đã có công văn gửi tới các trường triển khai việc học tập qua Internet; tổ chức ôn tập, kiểm tra công nhận kết quả học
                              tập qua Internet khi sinh viên đi học trở lại.</p>
                      </div>
                  </div>
                  <div class="features__col">
                      <div class="child__img">
                          <img src="https://i.imgur.com/JlilViu.png" alt="">
                      </div>
                      <div class="child__text">
                          <h2>Các giảng viên đầy kinh nghiệm</h2>
                          <p>Giảng viên F-Poly bỏ mức lương nghìn đô chọn sự nghiệp 'trồng' người</p>
                      </div>
                  </div>
                  <div class="features__col">
                      <div class="child__img">
                          <img src="https://i.imgur.com/kNsjFea.png" alt="">
                      </div>
                      <div class="child__text">
                          <h2>Môi trường học tập đnag tin cậy</h2>
                          <p>Dự án của sinh viên FPT Polytechnic được đánh giá cao tại vòng 2 FPT Edu Biz Talent</p>
                      </div>
                  </div>
                  <div class="features__col">
                      <div class="child__img">
                          <img src="https://i.imgur.com/9Yx12pD.png" alt="">
                      </div>
                      <div class="child__text">
                          <h2>Khoa học dữ liệu</h2>
                          <p>Nhận thấy tiềm năng phát triển trong lĩnh vực Khoa học dữ liệu tại Hà Nội nói riêng và toàn quốc nói chung, Cao đẳng FPT Polytechnic đã chính thức ký kết hợp tác đào tạo về Khoa học dữ liệu với S-Lab.

                          </p>
                      </div>
                  </div>
                  <div class="features__col">
                      <div class="child__img">
                          <img src="https://i.imgur.com/VQ5H6bH.png" alt="">
                      </div>
                      <div class="child__text">
                          <h2>Cơ sở hạ tầng</h2>
                          <p>Cao đẳng FPT Polytechnic Hà Nội đã chính thức đi vào hoạt động tại cơ sở Trịnh Văn Bô, Nam Từ Liêm, Hà Nội từ những ngày cuối năm 2019, nhưng có lẽ, một trong những điều chờ đón nhất của thầy và trò đó chính là ngày tượng Ong
                              Poly – linh vật của FPT Polytechnic chính thức được trưng bày tại sân trường.</p>
                      </div>
                  </div>
                  <div class="features__col">
                      <div class="child__img">
                          <img src="https://i.imgur.com/qePWJJs.png" alt="">
                      </div>
                      <div class="child__text">
                          <h2>Giáo trình học tập</h2>
                          <p>Dưới sự hướng dẫn của giảng viên Cao đẳng FPT Polytechnic, tân sinh viên không chỉ có tiếp thu thêm kiến thức về kỹ năng học tập, mà còn có cơ hội học được kỹ năng giao tiếp, kỹ năng thuyết trình, kỹ năng làm việc nhóm, kỹ
                              năng quản lý thời gian…</p>
                      </div>
                  </div>

              </div>
          </div>
      </div>

  </section>

  <!-- End Features -->

  <!-- Courses -->

  <section class="courses" id="courses">
      <div class="container">
          <div class="courses__main">
              <h2>Chuyên ngành đào tạo</h2>

              <div class="courses__row">

                  <div class="courses__card">

                      <div class="card__img">
                          <img src="https://i.imgur.com/79VZNsE.jpg" alt="">
                      </div>

                      <div class="card__info">
                          <h3>CÔNG NGHỆ THÔNG TIN</h3>
                          <p>Ngày nay, điện thoại và các thiết bị thông minh đã trở nên phổ biến và dần chiếm ưu thế hơn máy tính truyền thống. Trên 5 tỷ thiết bị lớn nhỏ từ các trung tâm dữ liệu, tài chính ngân hàng đều được lập trình bằng ngôn ngữ JAVA</p>
                      </div>
                      <hr>
                      <div class="card__active">
                          <p>Các ngành đào tạo: 4 ngành</p>
                          <hr>
                          <p>Chủ Nhiệm: Vũ Chí Thành</p>
                          <hr>
                      </div>
                      <div class="card__button">
                          <button><a href="javascript:;">Chi Tiết!!!</a></button>
                      </div>
                  </div>

                  <div class="courses__card">
                      <div class="card__img">
                          <img src="https://i.imgur.com/xRbVnkn.jpg" alt="">
                      </div>
                      <div class="card__info">
                          <h3>DU LỊCH - NHÀ HÀNG - KHÁCH SẠN</h3>
                          <p>Ngành du lịch là một trong những ngành kinh tế mũi nhọn ở Việt Nam và nhiều quốc gia trên thế giới. Đặc biệt với nguồn tài nguyên phong phú và tiềm ẩn, Việt Nam đã trở thành một trong những điểm du lịch thu hút</p>
                      </div>
                      <hr>
                      <div class="card__active">
                          <p>Các ngành đào tạo: 4 ngành</p>
                          <hr>
                          <p>Chủ Nhiệm: Vũ Chí Thành</p>
                          <hr>
                      </div>
                      <div class="card__button">
                          <button><a href="javascript:;">Chi Tiết!!!</a></button>
                      </div>
                  </div>

                  <div class="courses__card">
                      <div class="card__img">
                          <img src="https://i.imgur.com/79VZNsE.jpg" alt="">
                      </div>
                      <div class="card__info">
                          <h3>KINH TẾ</h3>
                          <p>Nhà trường cung cấp cho sinh viên các kỹ năng, kiến thức cần thiết, bộ phận Quan hệ Doanh nghiệp của trường giúp kết nối sinh viên với các chương trình tuyển dụng phù hợp, như vậy việc có nắm bắt được cơ hội ấy hay không hoàn
                              toàn phụ thuộc vào sinh viên</p>
                      </div>
                      <hr>
                      <div class="card__active">
                          <p>Các ngành đào tạo: 4 ngành</p>
                          <hr>
                          <p>Chủ Nhiệm: Vũ Chí Thành</p>
                          <hr>
                      </div>
                      <div class="card__button">
                          <button><a href="javascript:;">Chi Tiết!!!</a></button>
                      </div>
                  </div>

              </div>
              <h3 class="view__card"><a href="javascript:;">View All</a></h3>
          </div>
      </div>
  </section>
  <!--End Courses -->

  <!-- Our Teachers -->
  <section class="our__teachers" id="teachers">
      <div class="container">
          <div class="teachers__main">
              <h1>Giảng viên</h1>

              <div class="teachers__row">
                  <div class="teachers__col">
                      <div class="teachers__col_child">
                          <img src="https://scontent.fhan5-5.fna.fbcdn.net/v/t1.0-9/44575400_737487323251924_4844495931887845376_o.jpg?_nc_cat=108&_nc_sid=cdbe9c&_nc_ohc=6uGObIUdkyEAX9GXe3F&_nc_ht=scontent.fhan5-5.fna&oh=36c9e05357365297b0eef48d11bea5b7&oe=5EC657A5" alt="">
                          <div class="teacher__title">
                              <h3 class="name">Loan Trần</h3>
                              <h2 class="word">GV: CNTT</h2>
                          </div>
                      </div>
                      <div class="teachers__col_child">
                          <img src="https://scontent.fhan5-1.fna.fbcdn.net/v/t1.0-9/82935502_10158478951852223_1594257509126766592_n.jpg?_nc_cat=109&_nc_sid=09cbfe&_nc_ohc=u5pyToJ_ThIAX-lmjYf&_nc_ht=scontent.fhan5-1.fna&oh=457ec85ec75c3007a56fbf9363793f31&oe=5EC561BF" alt="">
                          <div class="teacher__title">
                              <h3 class="name">Giang Trần</h3>
                              <h2 class="word">GV: CNTT</h2>
                          </div>
                      </div>
                      <div class="teachers__col_child">
                          <img src="https://scontent.fhan5-4.fna.fbcdn.net/v/t1.0-1/p160x160/26113874_2014000211948973_686549481954961197_n.jpg?_nc_cat=104&_nc_sid=7206a8&_nc_ohc=HMX6zLnbJN8AX-xUfzd&_nc_ht=scontent.fhan5-4.fna&_nc_tp=6&oh=f6a6428df7ff5e738b99dd8e3f09ff67&oe=5EC77F61"
                              alt="">
                          <div class="teacher__title">
                              <h3 class="name">Vân Trần</h3>
                              <h2 class="word">GV: CNTT</h2>
                          </div>
                      </div>
                  </div>
                  <div class="teachers__col">
                      <div class="teachers__col_child">
                          <img src="https://scontent.fhan5-3.fna.fbcdn.net/v/t1.0-9/79429974_10157805158922760_6508598074628112384_n.jpg?_nc_cat=106&_nc_sid=0debeb&_nc_ohc=ePsyuow9LEMAX9ycaqM&_nc_ht=scontent.fhan5-3.fna&oh=99d2825234f6ff8bdd2c5b4e54cd5bd8&oe=5EC69B4D" alt="">
                          <div class="teacher__title">
                              <h3 class="name">Lê Trọng Đạt</h3>
                              <h2 class="word">GV: CNTT</h2>
                          </div>
                      </div>
                      <div class="teachers__col_child">
                          <img src="https://scontent.fhan5-6.fna.fbcdn.net/v/t1.0-9/90142546_3636330836408732_770120557097123840_o.jpg?_nc_cat=105&_nc_sid=09cbfe&_nc_ohc=78Bp5QH4lmEAX9yDIad&_nc_ht=scontent.fhan5-6.fna&oh=90a72240b0c40693c19a0a9b4d270ccf&oe=5EC5E654" alt="">
                          <div class="teacher__title">
                              <h3 class="name">Trần Hữu Thiện</h3>
                              <h2 class="word">GV: CNTT</h2>
                          </div>
                      </div>
                      <div class="teachers__col_child">
                          <img src="https://scontent.fhan5-1.fna.fbcdn.net/v/t1.0-9/1003539_713582462001685_505573586_n.jpg?_nc_cat=109&_nc_sid=19026a&_nc_ohc=rLiu3dgpndcAX9ucdy-&_nc_ht=scontent.fhan5-1.fna&oh=6ad5c14404c0c5c3f9e016909bb75ccd&oe=5EC53A85" alt="">
                          <div class="teacher__title">
                              <h3 class="name">Đặng Quang Minh</h3>
                              <h2 class="word">GV: CNTT</h2>
                          </div>
                      </div>
                  </div>
                
              </div>
          </div>
      </div>
  </section>
  <section class="clients" id="programs">
      <div class="container">
          <div class="clients__main">
              <h1>Chương trình được học được quan tâm nhất</h1>
              <div class="clients__slider">
               
                  <div class="employee">
                      <div id="staff-comment" class="employee flexslider">
                          <ul class="slides">
                              <li>
                                  <blockquote>Ngày nay, công nghệ thông tin và Internet đã tạo nên những thay đổi sâu sắc trong cuộc sống của chúng ta. Đặc biệt tại doanh nghiệp, website trở thành một thành phần không thể thiếu, là công cụ của doanh nghiệp để giới
                                      thiệu hình ảnh, quảng bá sản phẩm của doanh nghiệp với khách hàng, đối tác trong và ngoài nước thông qua internet, và kinh doanh trực tuyến.</blockquote>
                                  <div class="position">
                                      <span class="employee__name">Công nghệ Thông Tin</span><br>
                                      <span class="employee__position">THIẾT KẾ WEBSITE</span>
                                  </div>
                              </li>
                              <li>
                                  <blockquote>Ngày nay, điện thoại và các thiết bị thông minh đã trở nên phổ biến và dần chiếm ưu thế hơn máy tính truyền thống. Trên 5 tỷ thiết bị lớn nhỏ từ các trung tâm dữ liệu, tài chính ngân hàng đều được lập trình bằng ngôn
                                      ngữ JAVA.</blockquote>
                                  <div class="position">
                                      <span class="employee__name">Công nghệ Thông Tin</span><br>
                                      <span class="employee__position">CNTT – ỨNG DỤNG PHẦN MỀM</span>
                                  </div>
                              </li>
                              <li>
                                  <blockquote>Sự hiện diện của các phương tiện truyền thông kỹ thuật số như internet cùng điện thoại thông minh (smart phone) ngày càng đi sâu vào cuộc sống của mỗi người thì các hình thức quảng cáo và tiếp cận người tiêu dùng qua
                                      các phương tiện này cũng càng càng phát triển.</blockquote>
                                  <div class="position">
                                      <span class="employee__name">Kinh tế</span><br>
                                      <span class="employee__position">TMĐT – DIGITAL & ONLINE MARKETING</span>
                                  </div>
                              </li>
                              <li>
                                  <blockquote>Truyền thông (PR) và tổ chức sự kiện là ngành đang phát triển mạnh mẽ tại Việt Nam và hầu hết các quốc gia trên thế giới. Theo số liệu thống kê của Hiệp hội Quảng cáo Việt Nam, nước ta hiện nay có khoảng 7.000 công
                                      ty quảng cáo, nhân lực đáp ứng nhu cầu cho ngành này ít nhất là 70.000 lao động. </blockquote>
                                  <div class="position">
                                      <span class="employee__name">Kinh tế</span><br>
                                      <span class="employee__position">QHCC – PR & TỔ CHỨC SỰ KIỆN
                                      </span>
                                  </div>
                              </li>
                              <li>
                                  <blockquote>Ngành du lịch là một trong những ngành kinh tế mũi nhọn ở Việt Nam và nhiều quốc gia trên thế giới. Đặc biệt với nguồn tài nguyên phong phú và tiềm ẩn, Việt Nam đã trở thành một trong những điểm du lịch thu hút đông
                                      khách nội địa và quốc tế. </blockquote>
                                  <div class="position">
                                      <span class="employee__name">DU LỊCH - NHÀ HÀNG - KHÁCH SẠN</span><br>
                                      <span class="employee__position">HƯỚNG DẪN VIÊN DU LỊCH</span>
                                  </div>
                              </li>
                          </ul>
                      </div>


                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- End Clients -->

  <!-- Newsletter -->

  <section class="newsletter">
      <div class="container">
          <div class="newsletter__main">
              <h1>Để lại địa chỉ email để nhận thông tin mới nhất:</h1>
              <div class="form">
                  <form action="">
                      <input type="email" required>
                      <button>Đăng ký</button>
                  </form>
              </div>
          </div>
      </div>
  </section>

  <!--END Newsletter -->


  <!-- Contact -->

  <section class="contact" id="contact">

      <div class="container">

          <div class="contact__main">

              <div class="contact__form">
                  <form action="">
                      <div class="form-controler">
                          <label for="">Name</label><br>
                          <input type="text" required>
                      </div>

                      <div class="form-controler">
                          <label for="">E-Mail</label><br>
                          <input type="text" required>
                      </div>

                      <div class="form-controler">
                          <textarea name="" id="" cols="30" rows="10" minlength="20" required></textarea>
                      </div>

                      <div class="form-button">
                          <button>Gửi</button>
                      </div>
                  </form>
              </div>

              <div class="contact__info">
                  <div class="map">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4746.956660036394!2d105.74459841542335!3d21.03813279283303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIHRo4buxYyBow6BuaCBGUFQgUG9seXRlY2huaWMgSMOgIE7hu5lp!5e1!3m2!1svi!2s!4v1586793317885!5m2!1svi!2s"
                          frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                  </div>
                  <div class="info__deltai">
                      <div class="info__place">
                          <i class="fas fa-map-marker-check"></i><br>
                          <p>Hà Nội</p>
                      </div>
                      <div class="info__mail">
                          <i class="fas fa-envelope-open"></i>
                          <p>tuanlaph08659@fpt.edu.vn</p>
                      </div>
                      <div class="info__phone">
                          <i class="fas fa-phone"></i>
                          <p>0773331421</p>
                      </div>
                  </div>
              </div>
          </div>

      </div>

  </section>

  <!-- end Contact -->

  <!-- footer -->

  <footer>
      <div class="footer__main">
          <div class="container">
              <div class="nav__bar__footer">
                  <div class="logo">
                      <img src="https://i.imgur.com/hK2zXJS.png" alt="">

                  </div>
              </div>
          </div>
      </div>
    
  </footer>